

<html><body>
<h1><%=page_title%></h1>
<table border="1" cellpadding="7" cellspacing="7">
  <tr>
    <th width="50px">No</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone No.</th>
    <th>Address</th>
    <th>Action</th>
  </tr>
  <% if(data.length){ 
    for(var i = 0;i < data.length;i++) { %>
  <tr>
    <td><%=(i+1)%></td>
    <td><%=data[i].fname%></td>
    <td><%=data[i].lname%></td>
    <td><%=data[i].contact%></td>
    <td><%=data[i].address%></td>
    <td><a href="http://127.0.0.1:8000/student/delete/<%=data[i]._id%>"> Delete</a>
    <a href="http://127.0.0.1:8000/student/edit/<%=data[i]._id%>"> Update</a></td>
    
  </tr>
  <% }
  }else{ %>
  <tr>
    <td colspan="3">No user</td>
  </tr>
<% } %>
</table>
</body></html>